<div class="container mx-auto">
  <div class="flex justify-around items-center h-screen">
    <div class="shadow-2xl w-4/6 px-16 pt-6 rounded my-8">
      <h1 class="text-center font-bold leading-10">Sign up</h1>
      <h6 class="text-center leading-10">Give us some of your information to get free access the app</h6>
      <form
      (ngSubmit)="save()"
      [formGroup]="signupForm"
      class="w-full max-w-lg mx-auto signup-form">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              First Name
            </label>
            <input
              formControlName='firstName'
              [ngClass]="{'is-invalid': isSubmitted && !signupForm.get('firstName').valid}"
              id="grid-first-name" type="text" placeholder="Jane">
            <p class="text-red-500 text-xs italic" *ngIf="isSubmitted && signupForm.get('firstName').errors?.required">Please fill out this field.</p>
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
              Last Name
            </label>
            <input
            formControlName='lastName'
            [ngClass]="{'is-invalid': isSubmitted && !signupForm.get('lastName').valid}"

              id="grid-last-name" type="text" placeholder="Doe">
            <p class="text-red-500 text-xs italic" *ngIf="isSubmitted && signupForm.get('lastName').errors?.required">Please fill out this field.</p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-email">
              Email
            </label>
            <input
            formControlName='email'
            [ngClass]="{'is-invalid': isSubmitted && !signupForm.get('email').valid}"
              id="grid-email" type="email" placeholder="example@email.com">
            <p class="text-red-500 text-xs italic" *ngIf="isSubmitted && signupForm.get('email').errors?.required">Please fill out this field.</p>
          </div>
        </div>
        <div formGroupName='passwordGroup'>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                Password
              </label>
              <input
              formControlName='password'
              [ngClass]="{'is-invalid': isSubmitted && !signupForm.get('passwordGroup.password').valid}"
                id="grid-password" type="password" placeholder="******************">
              <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
              <p class="text-red-500 text-xs italic" *ngIf="isSubmitted && signupForm.get('passwordGroup.password').errors?.required">Please fill out this field.</p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-confirm-password">
                Confirm Password
              </label>
              <input
                formControlName='confirmPassword'
                [ngClass]="{'is-invalid': (!signupForm.get('passwordGroup.confirmPassword').valid || !signupForm.get('passwordGroup').valid) && isSubmitted }"
                id="grid-confirm-password" type="password" placeholder="******************">
                <p class="text-red-500 text-xs italic" *ngIf="isSubmitted && signupForm.get('passwordGroup.confirmPassword').errors?.required">Please fill out this field.</p>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-phone">
              Phone Number
            </label>
            <input
              formControlName='phoneNumber'
              [ngClass]="{'is-invalid': isSubmitted && !signupForm.get('phoneNumber').valid}"
              id="grid-phone" type="tel" placeholder="+250 12345678">
              <p class="text-red-500 text-xs italic" *ngIf="isSubmitted && signupForm.get('phoneNumber').errors?.required">Please fill out this field.</p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
              City
            </label>
            <input
              formControlName='city'
              [ngClass]="{'is-invalid': isSubmitted && !signupForm.get('city').valid}"
              id="grid-city" type="text" placeholder="Albuquerque">
              <p class="text-red-500 text-xs italic" *ngIf="isSubmitted && signupForm.get('city').errors?.required">Please fill out this field.</p>
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
              State
            </label>
            <div class="relative">
              <select
                class="block input-select"
                id="grid-state">
                <option>New Mexico</option>
                <option>Missouri</option>
                <option>Texas</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-orange-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
              Zip
            </label>
            <input
              id="grid-zip" type="text" placeholder="90210">
          </div>
        </div>
        <button
        type="submit"
        class="bg-transparent hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded my-10">
           Register
        </button>
      </form>
    </div>
  </div>
</div>

<div class="m-20">
  <br>Dirty: {{ signupForm.dirty }}<br>
  <br>Touched: {{ signupForm.touched }}<br>
  <br>Valid: {{ signupForm.get('passwordGroup').valid | json }}<br>
  <br>Dirty: {{ signupForm.value | json }}<br>
</div>
